.hvb-button {
    border-width: 1px;
    border-style: solid;
    color: #FFF;
    padding: 12px 17px;
    background: #eb6200;
    border-color: #eb6200;
    display: inline-block;
    transition: all .25s ease;
    font-weight: 400;
    line-height: 1;
    border: 0 none;
    outline: 0 none;
    border-radius: 10px !important;
}

    .hvb-button:focus,
    .hvb-button:active,
    .hvb-button:visited,
    .hvb-button:hover {
        background: #eb6200 !important;
        border-color: #eb6200 !important;
    }

.hvb-button-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.hvb-button-red:focus,
.hvb-button-red:active,
.hvb-button-red:visited,
.hvb-button-red:hover {
    background: #9e1522 !important;
    border-color: #9e1522 !important;
}

.p-button {
    margin-left: 35px;
    text-decoration: none !important;
    margin-top: 0px !important;
}
.btn-cancel {
    margin-left: 10px !important;
    background-color: #a7a7a7 !important;


}

    .btn-cancel:focus,
    .btn-cancel:active,
    .btn-cancel:visited,
    .btn-cancel:hover {
        background: #a7a7a7 !important;
        border-color: #a7a7a7 !important;
    }

.btn-draft {
    margin-right: 10px !important;
    background-color: #343434 !important;
}

    .btn-draft:focus,
    .btn-draft:active,
    .btn-draft:visited,
    .btn-draft:hover {
        background: #343434 !important;
        border-color: #343434 !important;
    }
