.loadingBar {
    background-color: #343434;
    color: white;
    padding: .8em .8em .8em 15px;
    font-size: 15px;
}

.currentLocation {
    font-weight: bold;
}

.loadingbarLink {
    display: inline-block;
    padding: 0px;
    color: white;
}

.loadingbarLink:hover {
    color: #E5E5E5;
}